<div class="container2">
<h2>Редактировать <%= current_user.email %></h2>


<%= form_for @user, url: users_page_path(@user) do |f| %>

 

  <div class="field">

    <%= f.text_field :email, autofocus: true, autocomplete: "email",class: "form-control",type:"text",placeholder: "email" %>
  </div>
   <br>
  <div class="field">
    <%= f.text_field :username,class: "form-control",type:"text",placeholder:"username" %>
  </div>
<br>
<% if current_user.roll="admin"%>
 <div class="field">
    <%= f.text_field :roll,class: "form-control",type:"text",placeholder:"username" %>
  </div>
  <% end %>
  <br>
  <div class="field">

    <%= f.password_field :password, autocomplete: "new-password" ,class: "form-control",type:"text",placeholder: "password"%>
    <% if @minimum_password_length %>
      <br />
      <em></em>
    <% end %>
  </div>
<hr>
  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "current-password",class: "form-control",type:"text",placeholder: "password_confirmation" %>
  </div>
  <br>
  <div class="field">
    <%= f.password_field :current_password, autocomplete: "current-password" ,class: "form-control",type:"text",placeholder: "password_confirmation" %>
  </div>
  <br>
<div class="btn-group" role="group" aria-label="Basic example">
  <div class="actions">
    <%= f.submit "Редактировать",class: "btn btn-outline-dark" %>
  </div>
      
</div>
 
<% end %>
 </div>